static_analysis/analyze_php/outputs/** filter=lfs diff=lfs merge=lfs -text
workload_profile/example/example_trace.xt filter=lfs diff=lfs merge=lfs -text
energy_measurement/cpu_util/experiments/outputs/measurement_results/** filter=lfs diff=lfs merge=lfs -text
